<template name="campaignsView">
    {{> breadcrumbs crumbs}}
    <h1>{{ campaign.name }}</h1>
    <div class="row">
        <div class="col-sm-5">
            <h2>Description</h2>
            {{campaign.getDescription}}
        </div>
        <div class="col-sm-3">
            <h2>Links</h2>
            <div class="nav nav-pills nav-stacked">
                <a href="/campaigns/{{campaign._id}}/playerCharacters" class="list-group-item">
                    <span class="badge float-right">{{numPlayerCharacters}}</span>
                    <span class="">Player Characters</span>
                </a>
                <a href="/campaigns/{{campaign._id}}/encounters" class="list-group-item">
                    <span class="badge">{{numEncounters}}</span>
                    <span class="">Encounters</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Players</h2>
            <ul class="list-group">
                {{#each players}}
                    <li class="list-group-item clearfix">
                        {{getEmail}}
                        <span class="btn btn-danger btn-sm remove-player pull-right">Remove</span>
                    </li>
                {{/each}}
            </ul>
            {{#if userIsCreatorOrDm}}
                <div class="control-group">
                    <select id="new-player" class="form-control">
                        {{#each potentialPlayers}}
                            <option value="{{getId}}">{{getEmail}}</option>
                        {{/each}}
                    </select>
                </div>
                <br/>
                <div class="control-group">
                    <input type="button" class="btn btn-info btn-sm btn-block add-player" value="Add Player">
                </div>
            {{/if}}
        </div>
    </div>
</template>